<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /accomnz/
RewriteRule ^(app|logs)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php?appsegment=$1 [L,QSA]
</IfModule>